* {
  font-size: 1rem;
  padding-left: 0.5rem;
}
body {
  font-family: sans-serif;
}

/* Tags */
a:visited {
  color: purple;
}

a:hover {
  color: steelblue;
  cursor: pointer;
}

a:active {
  color: red;
}

/* Classes */
.Title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: red;
}

.CustomNav {
  border: 2px solid black;
  padding-left: 1rem;
  padding-top: 0.5rem;
  margin-right: 1.5rem;
  font-weight: bolder;
  color: blue;
  font-size: 25px;
  background-color: papayawhip;
}

.CustomNav li {
  color: blue;
}

.QueriesList {
  color: black;
  font-weight: bolder;
  padding-top: 0.5rem;
  margin-left: 1.5rem;
  list-style-position: inside;
}

/* IDs */
#TitleQuick {
  text-decoration: underline;
  font-weight: bold;
  color: goldenrod;
  box-sizing: border-box;
  padding-top: 1.5rem;
  /* margin-top: 1.5rem; */
}

#QuickLinksBox {
  /* padding-top:1.5rem; */
  padding-left: 0rem;
  margin-left: 0.5rem;
  border: 2px solid rgb(243, 9, 9);
  margin-right: 1.5rem;
  border-radius: 20px;
  color: black;
}
