.Guidelines {
  border: 2px solid black;
  border-radius: 10px;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  list-style-type: lower-roman;
  background-color: whitesmoke;
}

.chooseFile {
  border: 2px solid black;
  border-radius: 10px;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  background-color: whitesmoke;
}
