/** Styling for Query */
#QueriesTitle {
  margin-left: 12%;
  margin-top: 4rem;
}

.Code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid rgb(36, 127, 219);
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.ImageDiv {
  text-align: center;
}
.ImageDiv img {
  box-sizing: border-box;
  width: 720px;
}
.ImageDiv figcaption {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}
