/** Styling for Heading, NavBar, Quick Links  */
/*? Tags */
* {
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#quicklinks a {
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

#quicklinks a:hover {
  background-size: 0 3px, 100% 3px;
}

/* a:visited {
  color: purple;
}

a:hover {
  color: steelblue;
  cursor: pointer;
}

a:active {
  color: red;
} */

/*? IDs */
#TitleQuick {
  text-decoration: underline;
  font-weight: bold;
  color: goldenrod;
  box-sizing: border-box;
  padding-top: 1.5rem;
  /* margin-top: 1.5rem; */
}

#quicklinks {
  padding-top: 3.5rem;
  padding-bottom: 7rem;
  /* Center */
  display: flex;
  justify-content: center;
}

/*? Classes */
.App {
  font-family: sans-serif;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.Title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: red;
}

.CustomNavbar {
  font-family: "Merriweather", serif;
}

.NavbarBrand {
  font-size: 1.5rem;
  font-weight: 900;
}

.QuickLinksButton {
  font-family: "Secular One", sans-serif;
}

.QueriesList {
  color: black;
  font-weight: bolder;
  padding-top: 0.5rem;
  margin-left: 0.5rem;
  list-style-position: inside;
}

/** Styling for Query */
/*? Tags */
code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid rgb(36, 127, 219);
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

/*? ID */
#QueriesTitle {
  margin-left: 18.2%;
}

/*? Classes */
.CenterCard {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.Query {
  margin: 0;
  margin-top: 1rem;
  padding-block: 0;
  padding-inline: 0.25rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: papayawhip;
}

.QueryTitle {
  font-weight: bolder;
  color: blueviolet;
  text-decoration: 3px underline;
}

.QueryStatement {
  font-weight: bold;
  color: rgba(104, 10, 192, 0.589);
}

.QueryImage {
  box-sizing: border-box;
  border: 2px solid black;
  height: 200px;
}

.Caption {
  font-weight: bold;
}

.Center {
  text-align: center;
}

.Line {
  border-top: 2px dashed black;
}

/** Styling for About */
/*? Classes */
.SectionTitle {
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 0vmax;
  font-family: "Secular One", sans-serif;
}

/*? IDs */
#about {
  margin-left: 5rem;
  margin-right: 5rem;
}

/** Styling for Footer */
/*? Classes */
.Footer {
  text-align: center;
  font-weight: bold;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/** Styling for Carousel */
/*? Classes */
.CustomCarousel {
  width: 75%;
  /* Center */
  margin: 0 auto;
  margin-top: 20px;
  float: none;
  margin-bottom: 10px;
}
