/** Classes */
.Query {
  margin: 0;
  padding-block: 0;
  padding-inline: 0.25rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: papayawhip;
}

.QueryTitle {
  font-weight: bolder;
  color: blueviolet;
  text-decoration: 3px underline;
}

.QueryStatement {
  font-weight: bold;
  color: rgba(104, 10, 192, 0.589);
}

.QueryImage {
  box-sizing: border-box;
  border: 2px solid black;
  height: 200px;
}

.Caption {
  font-weight: bold;
}

.Center {
  text-align: center;
}

.Line {
  border-top: 2px dashed black;
}
