/** Styling for File Upload */
#FileUploadTitle {
  margin-left: 12%;
  margin-top: 4rem;
}

.ChooseFile form {
  font-family: Lato, sans-serif;
}

.GuidelinesList {
  list-style: none;
  margin-left: -1rem;
  /* Increase space between bullet points and text */
}

.GuidelinesList li::before {
  content: "";
  background-image: url("../../images/Tick2.png");
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.2rem;
}
